<app-navbar></app-navbar>
<div class="wrapper">
  <div class="sidebar">
      <button class="btn btn-primary">New Project &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +</button>
      <button class="btn btn-primary"><fa-icon [icon]="faHome"></fa-icon>&nbsp;&nbsp;&nbsp;Home</button>
      <button class="btn btn-primary"><fa-icon [icon]="faProjectDiagram"></fa-icon>&nbsp;&nbsp;&nbsp;Projects</button>
      <button class="btn btn-primary"><fa-icon [icon]="faFolder"></fa-icon>&nbsp;&nbsp;&nbsp;Folders</button>
      <button class="btn btn-primary"><fa-icon [icon]="faHome"></fa-icon>&nbsp;&nbsp;&nbsp;Brand Kit</button>
      <button class="btn btn-primary"><fa-icon [icon]="faTrash"></fa-icon>&nbsp;&nbsp;&nbsp;Trash</button>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
